* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://api.dujin.org/pic/fengjing) no-repeat fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #fff;
}

main {}

.w {
    width: 560px;
    margin: 0 auto;
}

/* 所有的输入框 */
.video1>input, .video2>input, .video3>input, .video4>input, .video5>input, .video6>input {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 8px;
    margin-left: 0;
    padding-left: 0;
    transition: all 0.5s;
}

/* 输入框鼠标 凸出特效 */
input:hover {
    box-shadow: 0px 0px 10px 10px #b9c6e46e;

}


/* 左右两侧区域  左侧 */
.video1, .video2, .video3 {
    float: left;
    margin-top: 100px;
    width: 270px;
    /* margin-left: 15px; */
}

.lf {
    background-color: rgba(192, 39, 39, 0.5);
    height: 500px;
    width: 270px;
    border-right: 5px #fff solid;
    float: left;
}

/* -------分割线----- */

/* 左右两侧区域 右侧 */
.video4, .video5, .video6 {
    float: right;
    margin-top: 100px;
    width: 270px;
    margin-left: 0;
}

.rg {
    background-color: rgba(82, 82, 219, .5);
    height: 500px;
    width: 270px;
    float: left;
}

/* 所有video里面的A标签 */
.video1>a, .video2>a, .video3>a {
    float: right;
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    padding-left: 15px;
    background-color: #6f7ed3;
    transition: all 0.5s;
}

.video4>a, .video5>a, .video6>a {
    float: right;
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    padding-left: 15px;
    background-color: #c07882;
    transition: all 0.5s;
}

.video4>a:hover, .video5>a:hover, .video6>a:hover {
    /* text-shadow: 10px 10px 10px #b0bb13; */
    box-shadow: 0 0 5px 5px #7f42cf;

}

.video1>a:hover, .video2>a:hover, .video3>a:hover {
    box-shadow: 0 0 5px 5px #cc8432;
}
